.editor-container {
  margin-top: 30px;
  /* background-color: rgb(131, 234, 131); */
}

.button-container {
  display: flex;
  justify-content: center;
  /* background-color: #b02c2c; */
}

.button-save {
  width: 130px;
  height: 40px;
  /* margin: 0 10px; */
  font-size: 18px;
  cursor: pointer;
  border: 1px solid gray;
  background-color: #F5F5F5;
}